	<section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1> WHO I AM </h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>ABOUT ME</h2>
                        <p></p>
                            <p>
                              Hey I'm Matt, I live and work in Leeds City Centre.
                            </p>
                            <p>
                              I love CHESS, CROSSFIT and ANGULAR-JS I am currently involved in architecting and building amazing applications at William Hill.
                            </p>
                            <p>
                              When I'm not falling in love with Node, METEOR or Ionic while sat in Starbucks you'll find me busy training hard in the gym!
                            </p>
                            <p>
                              Life begins outside of your comfort zone. <a>#never</a> <a>#give</a> <a>#up</a>
                            </p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img box-text text-center">
                        <img src="images/office.jpg" alt="" />
                        <p>ME</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Personal data</h2>
                        <p>Date of birth: 11/10/1986</p>
                        <p>E-mail: matt@webb.digital</p>
                        <h2>Core skills</h2>
                        <p><strong>JavaScript:</strong> NodeJs, AngularJs, METEORJs, Ionic</p>
                        <p>Other Experience:</p>
                        <p><strong>.Net:</strong> ASP.net MVC (C#), ASP.net WebAPI</p>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>WHAT I DO</h2>
                        <p>
                          Solutions Architecture is all about understanding the latest cutting edge web and mobile technologies,
                          finding the best and most efficient methods of integrating these together is what makes my job so challenging and rewarding.
                          <br /><br />
                          Working with many talented people I spend my days solving software infrasture problems,
                          these arise naturally, especially within a highly demanding business who compete ambitiously in a dog eat dog industry.

                        </p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object1.jpg" alt="" />
                    </div>
                 </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->
