	<section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1> WHO I AM </h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>ABOUT ME</h2>
                        <p></p>
                            <p>
                              I'm Matt, I live and work in Leeds City Centre.
                            </p>
                            <p>
                              I love CHESS, CROSSFIT and ANGULAR JS and not always in that order! I am currently involved in architecting and building amazing applications at William Hill.
                              <br />
                              When I'm not falling in love with NodeJs, METEOR or Ionic I am busy training hard in the gym!
                            </p>
                            <p>
                              Life begins outside of your comfort zone. <a>#never</a> <a>#give</a> <a>#up</a>
                            </p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img box-text">
                        <img src="images/office.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Personal data</h2>
                        <p>Date of birth: 11/10/1986</p>
                        <p>E-mail: matt@webb.digital</p>
                        <h2>Core skills</h2>
                        <p><strong>JavaScript:</strong> NodeJs, AngularJs, METEORJs, Ionic</p>
                        <p>Other Experience:</p>
                        <p><strong>.Net:</strong> ASP.net MVC (C#), ASP.net WebAPI</p>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>WHAT I DO</h2>
                        <p>Solutions Architecture is all about working with and understanding the latest cutting edge web and mobile technologies to find the best methods to integrate these into the future of any adgile technical infrastructure.</p>
                        <p>Doing this daily is truly amazing!</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object1.jpg" alt="" />
                    </div>
                 </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->
